body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9fafb;
}

/* SLIDER */
.carousel-inner {
    width: 100%;
    height: 100%;
    position: relative;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.carousel-caption h2 {
    color: #fff;
    text-transform: uppercase;
    /* font-weight: bold; */
    text-shadow: 1px 1px 15px #000;
}

.carousel-caption p {
    color: #fff;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 10px;
}

.carousel-caption .btn{
    width: 150px;
    height: 44px;
    background-color: #f2b632;
    color: #fff;
    border: none;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    outline: none;
}
.carousel-caption .btn:hover{
  opacity: 0.8;
}


/* ANIMATION */
.carousel-caption {
  -webkit-animation: textmove 3s;
  -webkit-animation-fill-mode: forwards;
  animation: textmove 3s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes textmove {
  from {top:0px;}
  to {top: 50%;  }
}

@keyframes textmove {
  from {top:0px;}
  to {top: 50%;}
}




/*--- MEDIA QUERIES --*/
/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* MOBILE */
/* extra small devices (landscape phones,less 320 and up) */
@media (min-width: 320px) and (max-width: 575px ){ 

    .carousel{
        display: none;
    }
 }


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

    .carousel-caption{
      height: 180px;
      }
      .carousel-caption h2{
        font-size: 24px;
      }
      .carousel-caption p{
        font-size:14px; 
      } 
      .carousel-caption .btn{
        height: 44px;
        font-size: 14px;
        padding: 10px;
      }
 }


/* TABLETS */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    .carousel-caption{
      height: 200px;
        top:50%;
      }
      .carousel-caption h2{
        font-size: 30px;
      }
      .carousel-caption p{
        font-size: 15px;
      } 
      .carousel-caption .btn{
        height: 44px;
        font-size: 15px;
        padding: 10px;
      }
}


/* DESKTOPS */
/*Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
  .carousel-caption{
    height: auto;
  }
    .carousel-caption h2{
        font-size: 30px;
      }
      .carousel-caption p{
        font-size: 15px;
      } 
      .carousel-caption .btn{
          height: 44px;
        font-size: 15px;
        padding: 10px;
      }
}


/* VERY LARGE SCREEN */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

  .carousel-caption{
    height: auto;
  }
      .carousel-caption h2 {
        font-size: 40px;
    }
    
    .carousel-caption p {
        font-size: 16px;
    }
      .carousel-caption .btn{
        width: 150px;
        height: 44px;
        font-size: 18px;
        padding: 10px;
        text-align: center;
      } 
 }




/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
